
{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}

	<div class="content-body">
		<h1>{{ .Site.Title }}</h1>
		{{ if .Content }}
			{{ .Content }}
		{{ end }}

		{{ range (slice "/examples" "/real-world") }}
			{{ with $.Site.GetPage . }}
				<h2>{{ .Title }}</h2>
				{{ with .Content }}{{ . }}{{ end }}
				{{ with .OutputFormats.Get "Feed Section JSON" }}
					<p>
						If you need to get the list of feeds programmatically,
						<a href="{{ .RelPermalink }}">you can do so by requesting this JSON document</a>.
					</p>
				{{ end }}
				{{ if len .RegularPages }}
					<ul>
						{{ $pages := sort .RegularPages (.Params.sort.property | default "Title") (.Params.sort.direction | default "asc") }}
						{{ range $pages }}
							<li>
								<a href="{{ .RelPermalink }}" class="link">{{ .Title }}</a>
								(<a href="{{ .RelPermalink }}feed.xml">{{ with .Params.feedType }}{{ . }} {{ end }}XML</a>)
							</li>
						{{ end }}
					</ul>
				{{ end }}
			{{ end }}
		{{ end }}

	</div>

{{ end }}
